/*Responsiveness*/
@media (max-width : 1180px) {
    .MenuRespons{
      display: flex;
      position: relative;
    }
    .navbarIcons{
      display: none;
    }  
    .footerOne{
      width: 30vw;
    }
    .footerOne .contactSocial .social{
      width: 25px;
      height: 25px;
    }
    .footerMain{
      height: 50vh;
    }
    .footer{
      padding-top: 5vh;
    }
    .footer,
    .bottom{
      width: 94%;
    }
    .footerThree {
      width: 27vw;
      height: 20vw;
    }.login{
      flex-wrap: wrap;
      justify-content: center;
    }
    .login .loginLogo{
      height: 70%;
      width: 60%;
    }
    .login .loginForm,
    .loginForm .loginDetails{
      height: auto;
      width: 70%;
    }
    .loginDetailsDivIII .Country_code{
        width: 18%;
      }
      .loginDetailsDivIII .Phone_number_for_otp{
        width: 79%;
      }
  }